<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Created by Q-Solutions Studio
 *
 * @category    MageSpices
 * @package     MageSpices_Core
 * @author      Sebastian Strojwas <sebastian@qsolutionsstudio.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magespices" translate="label" sortOrder="5000">
            <label>MageSpices</label>
        </tab>
        <section id="mage2dark" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label><![CDATA[Mage2Dark Theme Feedback]]></label>
            <tab>magespices</tab>
            <resource>MageSpices_Core::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1">
                    <label>Show "slide box"</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
