<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Created by Q-Solutions Studio
 *
 * @category    MageSpices
 * @package     MageSpices_Core
 * @author      Sebastian Strojwas <sebastian@qsolutionsstudio.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mage2dark">
            <group id="settings">
                <field id="theme_selection" translate="label comment" type="select" sortOrder="20" showInDefault="1">
                    <label>Theme Selection</label>
                    <source_model>MageSpices\Mage2Dark\Model\Config\Source\Selection</source_model>
                    <comment>If "Auto" is selected, then from 7 PM to 7 AM Dark theme will be used and rest of the day Light theme will be in use.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
