<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mage2dark>
            <settings>
                <theme_selection>auto</theme_selection>
            </settings>
        </mage2dark>
    </default>
</config>
