<?xml version="1.0"?>
<!--
/**
* Created by Q-Solutions Studio
* MageSpices
*
* @package  MageSpices_Mage2Dark
* @author   Jakub Winkler <jwinkler@qsolutionsstudio.com> @MagentoNinja
* @author	Przemysław Jankowski <przemek@qsolutionsstudio.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mage2dark>
            <settings>
                <theme_selection>auto</theme_selection>
                <light_theme_time_from>420</light_theme_time_from>
                <light_theme_time_to>1140</light_theme_time_to>
            </settings>
        </mage2dark>
    </default>
</config>
